---
question:   10
title:  Education
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<!-- Guard question -->

	<h2 class="section-heading">Have you been on a course of education since your claim&nbsp;date?</h2>
	
	<p class="form-hint">Your claim date is <%= partial "partials/claim-date" %>. If you are on holiday or on temporary leave from a course select 'Yes'</p>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'education', yesToggle: '#yesToggle'} %>

    <div class="js-hidden form-group-indent" id="yesToggle">
        
        <%= partial 'partials/questions/education' %>

	</div>

    <%= partial "partials/next-question" %>

</form>