---
question:   10
title:      Have you been away for more than 52 weeks in the 3 years before your claim date?
---

<%= partial "partials/page-title" %>

<p>This could be one trip, or a number of trips adding up to 52 weeks.
Your claim date is <%= partial "partials/claim-date" %>. 
</p>

<form class="form" id="form" name="data">
    <div class-"form-group">

        <%= partial 'partials/questions/yes-no', :locals => { :id => 'away52Weeks'} %>

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>


    </div>
</form>