---
question: 11
title: Employment
---

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

<div class="form-group">

	<h2 class="section-heading">Have you been self employed at any time since 29 April 2014?</h2>
	
	<div class="form-hint">
	
		<p>This is 1 week before your claim date. Self employment includes:</p>
		
		<ul class="list-bullet">
		    <li>working for yourself</li>
		    <li>being a partner or sleeping partner in a business</li>
		    <li>receive income from property or land you own</li>
		    <li>renting out any part of the home you live in - i.e to a lodger</li>
		</ul>
	</div>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'selfEmployed', yesToggle: '#yesToggle' } %>

    <div class="js-hidden form-group-indent" id="yesToggle">
    	<br>
        <p><a href="/questions/self-employment/1" class="button">Add self-employment details</a></p>
	</div>
		
</div>	

<div class="form-group">
		
	<h2 class="section-heading">Have you been employed at any time since 6 August 2013</h2>	
	
	<div class="form-hint">
	
		<p>This is 6 months before your claim date. Employment includes:</p>
		
		<ul class="list-bullet">
		    <li>full-time or part time work</li>
		    <li>casual or temporary work</li>
		    <li>job sharing</li>
		    <li>being on a career break</li>
		    <li>being a company director</li>
		    <li>being included in any tax return as a worker or non worker</li>
		    <li>being in the territorial army or other auxiliary armed forces</li>
		</ul>
		
		<p>This doesn't include self employment.</p>
	
	</div>	
			
    <%= partial 'partials/questions/yes-no', :locals => { :id => 'employed', yesToggle: '#yesToggle2' } %>

    <div class="js-hidden form-group-indent" id="yesToggle2">
    	<br>
        <p><a href="/questions/employment/1" class="button">Add employment details</a></p>
	</div>
	
</div>	

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>