---
question:   12
title:  Statutory pay, benefits and payments
---

<%= partial "partials/page-title" %>

<p>Statutory pay is what your employer has to pay you by law.</p>

<form class="form" id="form" name="data">

	<div class="form-group">
			
		<p class="form-group-label">Did you get any Statutory Sick Pay since your claim date?</p>
		<p class="form-hint">Your claim date is <%= partial "partials/claim-date" %></p>
		<%= partial 'partials/questions/yes-no', :locals => { :id => 'statutory', :hideLabel => true, yesToggle: '#yesToggle2' } %>
			
		<div class="js-hidden form-group-indent" id="yesToggle2">
		    <div class="form-group">   
		       <label for="how-much" class="form-control-label">How much?</label>
			        £ <input type="tel" autocomplete="off" maxlength="60" title="The amount must be in the format 12 or 12.5 or 12.55" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" name="how-much" id="how-much" style="width: 100px; margin-right: 10px">
		
				<label for="how-often-pension" class="form-control-label visuallyhidden">How often?</label>
			    <select selectwithother="true" name="how-often-pension" id="how-often-pension">
		            <option value="02">a week</option>
		            <option value="03">a fortnight</option>
		            <option value="04">every 4 weeks</option>
		            <option value="05">a month</option>
		            <option value="other">other</option> 
		    	</select>
		
		     	<label for="employers-name" class="form-control-label">Employer's name</label>
		     	<input type="text" id="employers-name" name="employers-name" value="" maxlength="60" autocomplete="off">
		
		     	<p class="form-control-label">Employer's address</p>
		        <ul class="address-stack">
					<li>         
						<label for="employers-address-line1" class="visuallyhidden">employersAddress_lineOne <em>(optional)</em></label>
						<input type="text" id="employers-address-line1" name="employers-address-line1" maxlength="35" autocomplete="off">
					</li>
					<li>         
						<label for="employers-address-line2" class="visuallyhidden">employersAddress_lineTwo <em>(optional)</em></label>
						<input type="text" id="employers-address-line2" name="employers-address-line2" maxlength="35" autocomplete="off">
					</li>
					<li>
						<label for="employers-address-line3" class="visuallyhidden">employersAddress_lineThree <em>(optional)</em></label>
						<input type="text" id="employers-address-line3" name="employers-address-line3" maxlength="35" autocomplete="off">
					</li>
		         </ul>
		
		     	<label for="employers-postcode" class="form-control-label">Postcode</label>
		        <input type="text" id="employers-postcode" name="employers-postcode" class="postcode" autocomplete="off" maxlength="60">
	        </div>    
		</div><!-- /hidden -->
		
		<p class="form-group-label">Did you get any other statutory pay since your claim date?<p>
		<ul style="display: block; float: left; clear: both; width: 100%; margin-bottom: 0;">
			<li>- Maternity Pay<li>
			<li>- Paternity Pay<li>
			<li>- Adoption Pay<li>
		</ul>
		<%= partial 'partials/questions/yes-no', :locals => { :id => 'otherStatutory', yesToggle: '#yesToggle3'} %>
			
		<div class="js-hidden form-group-indent" id="yesToggle3">
		   <div class="form-group">    
		       <label for="how-much" class="form-control-label">How much?</label>
			        £ <input type="tel" autocomplete="off" maxlength="60" title="The amount must be in the format 12 or 12.5 or 12.55" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" name="how-much" id="how-much" style="width: 100px; margin-right: 10px">
		
				<label for="how-often-pension" class="form-control-label visuallyhidden">How often?</label>
			    <select selectwithother="true" name="how-often-pension" id="how-often-pension">
		            <option value="02">a week</option>
		            <option value="03">a fortnight</option>
		            <option value="04">every 4 weeks</option>
		            <option value="05">a month</option>
		            <option value="other">other</option> 
		    	</select>
		
	         	<label for="employers-name" class="form-control-label">Employer's name</label>
	         	<input type="text" id="employers-name" name="employers-name" value="" maxlength="60" autocomplete="off">
	
	         	<p class="form-control-label">Employer's address</p>
		        <ul class="address-stack">
					<li>         
						<label for="employers-address-line1" class="visuallyhidden">employersAddress_lineOne <em>(optional)</em></label>
						<input type="text" id="employers-address-line1" name="employers-address-line1" maxlength="35" autocomplete="off">
					</li>
					<li>         
						<label for="employers-address-line2" class="visuallyhidden">employersAddress_lineTwo <em>(optional)</em></label>
						<input type="text" id="employers-address-line2" name="employers-address-line2" maxlength="35" autocomplete="off">
					</li>
					<li>
						<label for="employers-address-line3" class="visuallyhidden">employersAddress_lineThree <em>(optional)</em></label>
						<input type="text" id="employers-address-line3" name="employers-address-line3" maxlength="35" autocomplete="off">
					</li>
		         </ul>
	
	         	<label for="employers-postcode" class="form-control-label">Postcode</label>
	            <input type="text" id="employers-postcode" name="employers-postcode" class="postcode" autocomplete="off" maxlength="60">
			</div>

		</div><!-- /hidden -->
			
		<p class="form-group-label">Have you claimed or received any other benefits since your claim date?</p>
		<p class="form-hint">Your claim date is <%= partial "partials/claim-date" %></p>
		<%= partial 'partials/questions/yes-no', :locals => { :id => 'claimedBenefits', :hideLabel	=> true } %>

		
		<p class="form-group-label">Have you received payments for the person you care for or any other person since your claim date?</p>
		<p class="form-hint">Your claim date is <%= partial "partials/claim-date" %></p>
		<%= partial 'partials/questions/yes-no', :locals => { :id => 'recievedPayments', :hideLabel	=> true, yesToggle: '#yesToggle'} %>
		
		<div class="js-hidden form-group-indent" id="yesToggle">
		
			<div class="form-group">	
				<label class="form-control-label" for="recievedPaymentsWho">Who pays you?</label>
				<input type="text" id="recievedPaymentsWho" name="recievedPaymentsWho" value="" maxlength="35" autocomplete="off">
		
				<label class="form-control-label" for="recievedPaymentsHowMuch">How much?</label>
				£ <input style="width: 100px" type="tel" id="recievedPaymentsHowMuch" name="recievedPaymentsHowMuch" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" title="The amount must be in the format 12 or 12.5 or 12.55" value="" maxlength="60" autocomplete="off">
				<label class="form-control-label visuallyhidden" for="recievedPaymentsHowOften">How often? (optional)</label>
				<select id="recievedPaymentsHowOften" name="recievedPaymentsHowOften">
		    		<option value="weekly">a week</option>
		    		<option value="fortnightly">every 2 weeks</option>
		    		<option value="fourWeekly">every 4 weeks</option>
		    		<option value="monthly">every month</option>
		 		   <option value="other">other</option>
			</select>
			</div>

		</div><!-- hidden -->	
		
	</div>

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>