---
question:   13
title:  Pay details
---

<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

	<h2 class="section-heading">How would you like to get paid?</h2>

	<%= partial 'partials/questions/radios', :locals => { 
		:id => 'payMethod', 
		:hint => "Select 'Other' if you want to be paid into an International Bank Account",
		:options => [
			"UK bank or building society account",
			"You don't have an account but intend to open one",
			"Other - you would like more information"
		]

	} %>

	<h2 class="section-heading">How often do you want to get paid?</h2>

	<%= partial 'partials/questions/radios', :locals => { 
		:id => 'payPeriod', 
		:options => [
			"Every week",
			"Every 4 weeks"
		]

	} %>


    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>