---
question:   2
title:      Your details
---
<!-- Back, Skip -->
<%= partial "partials/back-skip" %>

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

<!-- Name -->

    <h2 class="form-group-label">Full name</h2>

    <p class="form-hint">
        As shown on your birth certificate or passport
    </p>

    <%= partial "partials/questions/full-name", :locals => {
        :id => "fullName"
    }%>

<!-- National Insurance number -->

    <h2 class="form-group-label">National Insurance number</h2>

    <p class="form-hint">
        It's on your National Insurance card, benefit letter, payslip or P60.<br>
        For example, 'VO 12 34 56 D'
    </p>

    <%= partial "partials/questions/nino", :locals => {
        :id         => "yourNino",
        :label      => "National Insurance number",
        :hideLabel  => true,
        :classes    => "form-control-1-2"
    }%>

<!-- Date of birth -->

    <h2 class="form-group-label">Date of birth</h2>

    <%= partial 'partials/questions/date', :locals => { :id => 'yourDob', :hint => "For example, '20 3 1976'"} %>

<!-- State Pension -->

    <h2 class="form-group-label">Do you get State Pension?</h2>

    <p class="form-hint">State Pension changes how much Carer's Allowance you can be paid. <br><a href="help#4">How this works</a></p>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'statePension'} %>

    <!-- Next, Back, Skip -->

        <%= partial "partials/next-question" %>

</form>