---
question:   2
title:      Your details
---

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

<!-- Name -->

    <h2 class="section-heading">Full name</h2>
    
    <p class="form-hint">
        Enter as shown on your birth certificate or passport    
    </p>

    <%= partial 'partials/questions/text-field', :locals => { 
        :id => 'yourName',
        :hideLabel  => true
    }%>

    <!--<%= partial 'partials/questions/text-field', :locals => { 
        :id => 'yourOtherNames',
        :label => "Any other names you've had in the last 12 months"
    }%>-->

<!-- National Insurance number -->

    <h2 class="section-heading">National Insurance number</h2>

    <p class="form-hint">
        It's on your National Insurance card, benefit letter, payslip or P60.<br>
        For example, 'VO 12 34 56 D'.
    </p>

    <%= partial "partials/questions/text-field", :locals => { 
        :id         => "yourNino",
        :label      => "National Insurance number",
        :hideLabel  => true,
        :classes    => "form-control-1-2"
    }%>


<!-- Date of birth -->

    <h2 class="section-heading">Date of birth</h2>

    <%= partial 'partials/questions/date', :locals => { :id => 'yourDob', :hint => 'For Example, 20 03 1976'} %>

<!-- Living with partner? -->

    <h2 class="section-heading">Have you had a partner or spouse living with you since your claim date?</h2>

    <p class="form-hint">Your claim date is <%= partial "partials/claim-date" %>. If you have separated since then select 'Yes'.</p>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'partner'} %>


<!-- State Pension -->

    <h2 class="section-heading">Do you get State Pension?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'statePension'} %>


<!-- Next, Back, Skip -->    

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>