---
question:   21
title:      From when did you start caring for them for this amount of time?
---


<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

	<div class="form-group form-radio">
	  <label for="when1" class="block-label">
	    <input id="when1" type="radio" name="when" value="" class="js-toggle" data-hide="#date">
	    From the claim date: <%= data.claim.claimDate %>
	  </label>
	</div>

	<div class="form-group form-radio">
	  <label for="when2" class="block-label">
	    <input id="when2" type="radio" name="when" value="" class="js-toggle"  data-show="#date">
	    From a different date
	  </label>
	</div>

    <div class="js-hidden form-group-indent" id="date">
    	<%= partial 'partials/questions/date', :locals => { :id => 'careForDate'} %>
	</div>

	        

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>