---
question:   3
title:      Your contact details
---

<!-- Back, Skip -->
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<p>We might need to contact you for more information so that your application won’t be delayed. </p>

<form class="form" id="form" name="data">

<!-- Phone number -->

    <div class="form-group">
        <label class="form-group-label" for="yourTelNo">Phone number</label>
        <div class="form-hint">Mobile or landline number</div>

        <input type="text" class="form-control form-control-1-2" id="yourTelNo" name="yourTelNo">

        <label for="useTextPhone" class="form-radio">
            <input type="checkbox" id="useTextPhone" name="useTextPhone">
            I have difficulties hearing and use a textphone
        </label>
    </div>

<!-- Address -->

    <%= partial "partials/questions/address", :locals => {
        :id         => "yourAddress",
        :label      => "Address"
    }%>



    <!-- Email -->

<h2 class="section-heading">Email</h2>

<p class="form-hint">Do you want us to email you when we receive this application?</p>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'email', yesToggle: '#yesToggle'} %>

<div class="js-hidden form-group-indent" id="yesToggle">

    <label class="form-control-label" for="yourTelNo">Email address</label>
    <input type="text" class="form-control form-control" id="yourEmail" name="yourEmail">

</div>


    <%= partial "partials/next-question" %>

</form>