---
question:   4
title:      Nationality, where you live and time abroad
---

<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<!-- Back, Skip -->    

    <%= partial "partials/back-skip" %>

<!-- Nationality -->

    <h2 class="section-heading">What is your nationality?</h2>

	<p class="form-hint">As shown on your current passport</p>

    <%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "yourNationality",
        :label 		=> "Nationality",
        :hideLabel	=> true
    }%>

<!-- Residency -->

	<h2 class="section-heading">Do you normally live in England, Scotland or Wales?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'ukResident', noToggle: '#noToggle'} %>

    <div class="js-hidden form-group form-group-indent" id="noToggle">
    	<label class="form-control-label" for="other-country">Which country do you normally live in?</label>
    	<input type="text" class="form-control" id="other-country">
	</div>

<!-- Time abroad -->

	<h2 class="section-heading">Have you been away for more than 52 weeks in the 3 years before your claim date?</h2>
	
	<p class="form-hint">This could be 1 long trip or many shorter trips adding up to 52 week. <br>
	Your claim date is <%= partial "partials/claim-date" %>. 
	</p>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'away52Weeks'} %>

<!-- Next -->

    <%= partial "partials/next-question" %>

</form>