---
question:   4
title:      Nationality, where you live and time abroad
---

<!-- Back, Skip -->
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<!-- Nationality -->

    <h2 class="section-heading">What is your nationality?</h2>

	<p class="form-hint">As shown on your current passport</p>

    <div class="form-group form-radio">
      <label for="payMethod0" class="block-label">
        <input id="payMethod0" type="radio" name="payMethod" value="British" class="js-toggle" data-hide="#nationalityToggle">
        British
      </label>
    </div>
    <div class="form-group form-radio">
      <label for="payMethod1" class="block-label">
        <input id="payMethod1" type="radio" name="payMethod" value="Another country" class="js-toggle" data-show="#nationalityToggle">
        Another country
      </label>
    </div>

    <div class="js-hidden form-group form-group-indent" id="nationalityToggle">
        <label class="form-control-label" for="yourNationality">Enter your nationality</label>
        <input type="text" class="form-control" id="yourNationality">
        <label class="form-control-label" for="yourMaritalStatus">Enter your marital status</label>
        <input type="text" class="form-control" id="yourMaritalStatus">
    </div>

<!-- Residency -->

	<h2 class="section-heading">Do you normally live in England, Scotland or Wales?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'ukResident', noToggle: '#noToggle'} %>

    <div class="js-hidden form-group form-group-indent" id="noToggle">
    	<label class="form-control-label" for="other-country">Which country do you normally live in?</label>
    	<input type="text" class="form-control" id="other-country">
	</div>

<!-- Time abroad -->

	<h2 class="section-heading">Have you been away from England, Scotland or Wales for more than 52 weeks in the 3 years before your claim date?</h2>
	<p class="form-hint">This could be 1 long trip or many shorter trips adding up to 52 weeks. <br>
	Your claim date is <%= partial "partials/claim-date" %>.
	</p>

    <%= partial 'partials/questions/yes-no', :locals => { 
    	:id => 'away52Weeks',
    	yesToggle: '#startDateToggle'
    } %>
    
    <div class="js-hidden form-group form-group-indent" id="startDateToggle">
    	<label for="additional-details">Tell us about this time away. Include the dates you left and returned and details of where you've been.</label>
    	<textarea id="additional-details" style="width: 100%" name="additional-details" helper="1000 characters left" maxlength="2000" autocomplete="off"></textarea>
    	<p class="helper right">1000 characters left</p>	
    </div>

<!-- Next -->

    <%= partial "partials/next-question" %>

</form>