---
question:   4
title:      What is your nationality and residency?
---

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

<!-- Nationality -->

    <h2 class="section-heading">Nationality</h2>

	<p class="form-hint">As shown on your current passport</p>

    <%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "yourNationality",
        :label 		=> "Nationality",
        :hideLabel	=> true
    }%>



<!-- Residency -->

	<h2 class="section-heading">Do you normally live in England, Scotland or Wales?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'ukResident', noToggle: '#noToggle'} %>

    <div class="js-hidden form-group form-group-indent" id="noToggle">
    	<label class="form-control-label" for="other-country">Which country do you normally live in?</label>
    	<input type="text" class="form-control" id="other-country">
	</div>



    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>