---
question:   5
<<<<<<< HEAD
title:      Time outside of England, Scotland or&nbsp;Wales
=======
title: European Economic Area states and Switzerland     
>>>>>>> Merge questions
---

<%= partial "partials/page-title" %>

<p>These questions relate to the following countries:</p>

<div class="form-group-indent">
	<p>Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and Switzerland</p>
</div>

<form class="form" id="form" name="data">

	<h2 class="section-heading">Do you, or any member of your family, receive any benefits or pensions from the above countries?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'getBenefits'} %>
    
    <h2 class="section-heading">Have you, or a member of your family, made a claim for any benefits or pensions from the above countries?</h2>

	<%= partial 'partials/questions/yes-no', :locals => { :id => 'claimBenefits'} %>

    <h2 class="section-heading">Are you, or a member of your family, working in or paying insurance to one of the above countries?</h2>

	<%= partial 'partials/questions/yes-no', :locals => { :id => 'workInsurance'} %>	

    <div class-"form-group">

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>

    </div>
</form>