---
question:   5
title: Payments from abroad and working abroad  
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>


<p>These questions are about the following countries: </p>

<div class="form-group-indent">
	<p>Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and Switzerland</p>
</div>

<form class="form" id="form" name="data">

	<!--<h2 class="section-heading" style="margin-bottom:25px!important">Do the following apply to you or anyone in 
	your family?</h2>-->

	<div class="form-group">
	
	<p></p>

		<div class="form-group">
			<h2 class="section-heading">Have you or anyone in your family claimed or been paid any benefits or pensions from any of these countries?</h2>
		    <%= partial 'partials/questions/yes-no', :locals => { :id => 'getBenefits'} %>
		</div>
		
		<div class="form-group">    
	    	<h2 class="section-heading">Do you or anyone in your family work or pay insurance in any of these countries?</h2>	
			<%= partial 'partials/questions/yes-no', :locals => { :id => 'claimBenefits'} %>
		</div>
		
	</div>

    <div class-"form-group">

        <%= partial "partials/next-question" %>

    </div>
</form>