---
question:   6
title:      Have you had a partner living with you since your claim date?
---

<%= partial "partials/page-title" %>

<p>Your claim date is <%= partial "partials/claim-date" %>. If you have separated since then select 'Yes'.</p>


<form class="form" id="form" name="data">

        <%= partial 'partials/questions/yes-no', :locals => { :id => 'partner'} %>

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>

</form>