---
question:   8
title: About the care you provide
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<!-- 35 hours a week -->

	<h2 class="section-heading">Do you spend 35 hours or more each week caring for <br /><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %>?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'hrs35', yesToggle: '#yesToggle'} %>

    <div class-"form-group">

        <%= partial "partials/next-question" %>

    </div>
</form>