---
question:   8
title: About the care you provide
---

<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<!-- 35 hours a week -->

	<h2 class="section-heading">Do you spend at least 35 hours a week caring for <br /><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %>?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'hrs35'} %>

<!-- When did you start caring -->

	<h2 class="section-heading" style="margin-bottom: 30px!important;">When did you start caring for 35 hours a week or more?</h2>

	<div class="form-group form-radio">
	  <label for="when1" class="block-label">
	    <input id="when1" type="radio" name="when" value="" class="js-toggle" data-hide="#date">
	    Claim date: <%= partial "partials/claim-date" %>
	  </label>
	</div>

	<div class="form-group form-radio">
	  <label for="when2" class="block-label">
	    <input id="when2" type="radio" name="when" value="" class="js-toggle"  data-show="#date">
	    From an earlier date
	  </label>
	</div>

    <div class="js-hidden form-group-indent" id="date">
    	<%= partial 'partials/questions/date', :locals => { :id => 'careStartDate'} %>
	</div>
	
	


    <div class-"form-group">

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>

    </div>
</form>