---
question:   9
title:  Breaks from caring    
---

<%= partial "partials/page-title" %>

<p>This is any times when you have spent less than 35 hours a week caring for <%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %>. For example, if:</p>
<ul class="list-bullet">
	<li>they were in respite care, hospital or on holiday without you, <em>or</em></li>
	<li>you were in hospital or on holiday without them.</li>
</ul>

<form class="form" id="form" name="data">

	<h2 class="section-heading">Have you had any breaks from caring since 8 July 2013?</h2>
	<p class="form-hint">This is six months before your claim date. If 'Yes', you'll need to provide details</p>
	
	<%= partial 'partials/questions/yes-no', :locals => { :id => 'breaks'} %>
	

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>