---
question: 9
title:  Breaks from caring    
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>


<p>This is any time when you have spent less than 35 hours a week caring for <%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %>. For example, if:</p>
<ul class="list-bullet">
	<li>they were in respite care, hospital or on holiday without you</li>
	<li>you were in hospital or on holiday without them</li>
</ul>

<form class="form" id="form" name="data">

	<h2 class="section-heading">Have you had any breaks from caring since 21 August 2013?</h2>
	<p class="form-hint">This is six months before your claim date. If 'Yes', you'll need to provide details</p>
	
	<%= partial 'partials/questions/yes-no', :locals => { :id => 'breaks'} %>
	

    <!--<%= partial "partials/next-question" %>-->
    
    <div class="form-group">
           <br><br>
        <a class="next button" href="breaks/1">Continue</a>
    </div>

</form>