---
layout:  carers_wide_template
---


<h1 class="heading-36 submit-application">
    Your application is <span class="percentage-complete"></span>% complete
</h1>

<div id="v1" class="question-status"></div>

<p><a class="continue back" href="">Back</a></p>

<h3 class="heading-24">Your answers</h3>

<table class="check-answers">
    <%= partial 'partials/questions/answer', :locals => { q:  1, title: 'Claim date', type: 'date', id: 'claimDate' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  2, title: 'Name', type: 'text-field', id: 'yourName' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  3, title: 'Date of birth', type: 'date', id: 'yourDob' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  4, title: 'National Insurance number', type: 'text-field', id: 'yourNino' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  5, title: 'Contact details', type: 'address', id: 'yourAddress' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  6, title: 'Partner living with you since your claim date?', type: 'yes-no', id: 'partner' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  7, title: 'State pension', type: 'yes-no', id: 'statePension' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  8, title: 'Nationality', type: 'text-field', id: 'yourNationality' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  9, title: 'Normally live in England, Scotland or Wales?', type: 'yes-no', id: 'ukResident' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  10, title: 'Away for more than 52 weeks in the 3 years before your claim date?', type: 'yes-no', id: 'away52Weeks' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  11, title: 'Get benefits or pensions from EEA or Switzerland?', type: 'yes-no', id: 'getBenefits' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  12, title: 'Claimed for benefits or pensions from EEA or Switzerland?', type: 'yes-no', id: 'claimBenefits' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  13, title: 'Working in or paying insurance to EEA or Switzerland?', type: 'yes-no', id: 'workInsurance' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  14, title: 'Name', type: 'text-field', id: 'careForName' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  15, title: 'Date of birth', type: 'date', id: 'careForDob' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  16, title: 'National insurance number', type: 'text-field', id: 'careForNino' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  17, title: 'Contact details', type: 'address', id: 'careForAddress' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  18, title: 'Relationship to you', type: 'text-field', id: 'careForRelationship'} %>
    <%= partial 'partials/questions/answer', :locals => { q:  19, title: 'Do they get Armed Forces Independence Payment?', type: 'yes-no', id: 'afip'} %>
    <%= partial 'partials/questions/answer', :locals => { q:  20, title: 'Do you spend more than 35 hours a week caring for them?', type: 'yes-no', id: 'hrs35' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  21, title: 'Date started care', type: 'date', id: 'careForDate'} %>
    <%= partial 'partials/questions/answer', :locals => { q:  22, title: 'In education since claim date?', type: 'education'} %>
    <%= partial 'partials/questions/answer', :locals => { q:  23, title: 'Self employed since 18 December 2013?', type: 'self-employment' } %>
    <%= partial 'partials/questions/answer', :locals => { q:  24, title: 'Employed since 25 June 2013?', type: 'employment' } %>
  
</table>

<div class="form-group">
<br>
<br>

<!--

<div class="submit-application">
    <p>
        By submitting your application you are confirming that the above information is true.
    </p>

    <a class="button" href="confirmation.html">Submit your application</a>
</div>
-->

<a class="continue button" href="">Continue with your application</a>


<ul class="form-group">
    <li><a href="1" class="cancel-application">Cancel this application</a></li>
    <li><a href="#">Print this page</a></li>
    <li><a href="#">Email this page</a></li>
</ul>