---
question: 14
title:  Disclaimer
---

<h1 class="heading-36">
    Disclaimer
</h1>


<article class="dec">
	                
<p>I understand that if I am paid Carer's Allowance it may affect the benefits paid to <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b>.</p>
	                
<p>If the person you are caring for receives certain benefits, the amount they receive may be affected by your claim for Carer's Allowance. Because of this we need both of you to understand the potential consequences of your claim to Carer's Allowance.</p>
	                
<p>If <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b> gets a Severe Disability Premium with their income-based Jobseeker's Allowance, Income Support, income-related Employment and Support Allowance, Housing Benefit, they may no longer get that premium if we pay Carer's Allowance to you.</p>
	                
<p>If <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b>'s Pension Credit includes an extra amount for severe disability, they may no longer get that extra amount if we pay Carer's Allowance to you.</p>
	                
<p>This could also affect any reduction in Council Tax <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b> may be entitled to. To find out more about it, please contact the Local Authority.</p>
	                
<p>We will need to check <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b> entitlement to Disability Living Allowance, Personal Independence Payment, Attendance Allowance, Constant Attendance Allowance or Armed Forces Independence Payment when considering your claim.</p>
	                
<p>We may contact <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b> or their representative to establish whether 35 hours caring per week is taking place.</p>
	                
</article>

<div class="group declare">
	<div class="block-label">
    	<label for="disclaimerDeclare">

    	<input type="checkbox" value="" name="disclaimerDeclare" id="disclaimerDeclare" class="visible">

    		I declare that I understand and have/will make <b><%= partial 'partials/questions/text-field-write', :locals => { id: 'careName' } %></b> aware that there could be a change to their benefits</label>
	</div>
</div>

<div class="form-group">
<br>
<br>
<a class="next button" href="declaration">Continue</a>
</div>