---
progress-bar: about-you
---

<h1 class="heading-48">About you the carer</h1>


<fieldset>
	<legend class="form-group-label">Your name</legend>
			
	<ul>
		<li>
			<label for="title" class="form-control-label">Title</label>
			<%= partial "partials/ui-title" %>
		</li>
			<%= partial "partials/ui-name" %>
		<li>
			<label for="nino" class="form-group-label">National Insurance number</label>
			<%= partial "partials/ui-nino" %>				
		</li> 

		<li class="form-group">
			<p class="form-group-label">Date of birth</p>
			<p class="form-hint">For example, 03 May 1979</p>
			<%= partial "partials/ui-date" %>
		</li>	
	</ul>
	
</fieldset>
<!-- / form elements -->

<div class="form-steps">
	<%= link_to 'Back', '/v1/1eligibility/carers-response.html', :class => 'button-link', :relative => true %>
	<%= link_to 'Next', 'about2.html', :class => 'button' %>

</div>
<!-- / form steps -->