<span data-from="<%= locals[:id] %>Line-1"></span>, 
<span data-from="<%= locals[:id] %>Line-2"></span>, 
<span data-from="<%= locals[:id] %>Town"></span>,
<span data-from="<%= locals[:id] %>Postcode"></span>,
<span data-from="<%= locals[:id] %>Country"></span>