<%
# if req.params["currentPage"].to_i > locals[:q]
%>

<tr>
    <td class="question"><%= locals[:q] %></td>
    <td class="title"><%= locals[:title] %></td>
    <td class="answer">
    	<% if locals[:type] == 'date' %>
    		<%= partial 'partials/v3/date-write', :locals => { id: locals[:id] } %>
    	<% elsif locals[:type] == 'text-field' %>
    		<%= partial 'partials/v3/text-field-write', :locals => { id: locals[:id] } %>
    	<% elsif locals[:type] == 'address' %>
    		<%= partial 'partials/v3/address-write', :locals => { id: locals[:id] } %>    	
    	<% elsif locals[:type] == 'yes-no' %>
    		<%= partial 'partials/v3/yes-no-write', :locals => { id: locals[:id] } %>    	
    	<% elsif locals[:type] == 'education' %>
    		<%= partial 'partials/v3/education-write' %>  
        <% elsif locals[:type] == 'self-employment' %>
            <%= partial 'partials/v3/self-employment-write' %>
        <% elsif locals[:type] == 'employment' %>
            <%= partial 'partials/v3/employment-write' %>
    	<% else %>
        <%= locals[:answer] %>
        <% end %>
    </td>
    <td>
        <a href="<%= locals[:q] %>.html?edit=true&currentPage=<%= req.params["currentPage"] %>">Change this</a>
    </td>
</tr>

<%
# end
%>