---
question:   14
title:      What's the name of the person you care for?
---

<%= partial "partials/v3/page-title" %>


<form class="form" id="form" name="data">

    <%= partial 'partials/v3/text-field', :locals => { 
        :id => 'careForName',
        :label => "Their full name, as shown on your birth certificate or passport"
    }%>

    <%= partial 'partials/v3/text-field', :locals => { 
        :id => 'careForOtherNames',
        :label => "Any other names they've had in the last 12 months"
    }%>

    <%= partial "partials/v3/next-question" %>

    <%= partial "partials/v3/back-skip" %>

</form>