<div class="form-group">
    <div class="form-checkbox">
      <label for="under35Hrs<%= locals[:date] %><%= locals[:month] %>" class="block-label week-label">
        <input id="under35Hrs<%= locals[:date] %><%= locals[:month] %>" type="checkbox" name="35hrsPreClaim" value="" class="js-toggle" data-toggle="#careBreak<%= locals[:date] %><%= locals[:month] %>Details">
        Week starting <%= locals[:date] %> <%= locals[:month] %> 2014
      </label>
    </div>
</div>
<div class="js-hidden form-group form-group-indent under35Hrs" id="careBreak<%= locals[:date] %><%= locals[:month] %>Details">
	<div class="form-group">
		<label class="form-control-label" for="hours<%= locals[:date] %><%= locals[:month] %>">How many hours did you spend caring in this week?</label>
		<input class="hoursCared" type="text" id="hours<%= locals[:date] %><%= locals[:month] %>"> hours
	</div>

	<div class="form-group">
		<label class="form-control-label" for="reason<%= locals[:date] %><%= locals[:month] %>">What was the reason?</label>
		<p class="form-hint">
			Tell us where you and the person you care for were.
			Include details of any medical care or professional treatment either of you had.
		</p>
		<textarea class="reasonText" id="hours<%= locals[:date] %><%= locals[:month] %>"></textarea>
	</div>
</div>




