<h1 class="heading-48"><span class="heading-27">Section 3</span> The care you provide</h1>

<p>In this section you'll be asked about:</p>


<ul class="list-number">
    <li>how much time you spend caring</li>
    <li>any breaks from caring you've had</li>
</ul>

<hr>

<form class="form">

    <!-- Time spent caring -->

    <h2 class="heading-36">
        1. Time spent caring
    </h2>
        
    <div class="form-group">
        <p class="form-control-label">Do you spend 35 hours or more each week caring for this person?</p>
        <div class="form-group-inline form-radio">
          <label for="35hrsYes" class="block-label">
            <input id="35hrsYes" type="radio" name="35hrs" value="">
            Yes
          </label>
        </div>
        <div class="form-group-inline form-radio">
          <label for="35hrsNo" class="block-label">
            <input id="35hrsNo" type="radio" name="35hrs" value="">
            No
          </label>
        </div>
    </div>

    <div class="form-group">
        <p class="form-control-label">Did you care for this person for 35 hours or more each week before your claim date?</p>
        <div class="form-group-inline form-radio">
          <label for="35hrsPreClaimYes" class="block-label">
            <input id="35hrsPreClaimYes" type="radio" name="35hrsPreClaim" value="">
            Yes
          </label>
        </div>
        <div class="form-group-inline form-radio">
          <label for="35hrsPreClaimNo" class="block-label">
            <input id="35hrsPreClaimNo" type="radio" name="35hrsPreClaim" value="">
            No
          </label>
        </div>
    </div>

    <hr>

    <h2 class="heading-36">
        2. Breaks from caring
    </h2>

    <p>Tell us about any weeks where you spent less than 35 hours caring for the person you care for. These are known as 'breaks from caring'.<p>

    <!--<p>A week where you spent less than 35 hours caring for the person you care for is called a 'break from caring'.</p>-->
    <p>For example, this might be because they were in respite care, or hospital, or one of you was on holiday without the other.</p>
    <p>You can take up to 4 of these every 26 weeks and still be paid Carer's Allowance for them. Any more than 4 won't be paid for.</p>
    <p>Because of this, we need to know if you took any breaks from caring in the 26 weeks leading up to your claim date.</p>


    <h2 class="form-group-label">
        Did you take any breaks from caring in these weeks?
    </h2>

    <p class="form-hint">Select all that apply.</p>
    
    <div class="under35hr-week-list">
        <%= partial 'partials/35hrs-check', :locals => { :date => '20', :month => 'January'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '27', :month => 'January'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '3',  :month => 'February'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '10', :month => 'February'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '17', :month => 'February'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '24', :month => 'February'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '3',  :month => 'March'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '10', :month => 'March'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '17', :month => 'March'} %>
        <%= partial 'partials/35hrs-check', :locals => { :date => '24', :month => 'March'} %>  
    </div>

</form>