<%= partial "partials/section-headings/section-4" %>

<fieldset class="form-elements">   
 
<ul>
	<li>
		<p class="form-group-label">Have you been on a course of education since your claim date?</p>

		<p class="helper">Your claim date is <%= partial "partials/claim-date" %>. Include any full-time, part-time, or other courses. For example, home study</p>

		<ul class="radio" id="have_you_been_on_a_course_of_education">
			<li>
				<input id="education_yes" name="have_you_been_on_a_course_of_education" type="radio" value="yes"> 
				<label for="education_yes">Yes</label></li>
			<li>
				<input id="education_no" name="have_you_been_on_a_course_of_education" type="radio" value="no"> 
				<label for="education_no">No</label>
			</li>
		</ul>
	</li>
</ul>

<div  id="course-details" style="display: none;">
    
<ul>
    <li><p class="form-group-label">Course details</p>
        <label for="" class="form-control-label">Name of course</label>
        <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
    </li>
    <li >
        <label for="" class="form-control-label">Name of school, college or university</label>
        <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
    </li>

            <li >
                <p class="form-group-label">Contact details</p>
                <label for="" class="form-control-label">Name of your main teacher or tutor</label>
                <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
            </li>
            <li>
                <label for="" class="form-control-label">Phone number for your department or tutor (optional)</label>
                <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">   
            </li>

            <li>
                <p class="form-group-label">When did you start the course?</p>
                
                <p class="form-hint"> For example, 01 September 2013</p>
                <%= partial "partials/ui-date" %>
            </li>
            <li>
                <p class="form-group-label">When did the course end or when will you finish?</p>
                
                <p class="form-hint"> For example, 01 July 2014</p>
                <%= partial "partials/ui-date" %>
             </li>
        </ul>
    </li>
</ul>
</div>

</fieldset>

<div class="form-steps">

    <%= link_to 'Back', '../4Care/care3.html', :class => 'button-link' %>
    <%= link_to 'Next', '../7Employment/employment-guard.html', :class => 'button', :relative => true %>
</div>

<script>
	$(document).ready(function() {    
		$('#education_yes').click(function(){
			$('#course-details').show();
		});
		$('#education_no').click(function(){
			$('#course-details').hide();
		});
	}); 
</script>
