---
question: 11
title: Employer details
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<p>These details are used to contact your employer.</p>

<form class="form" id="form" name="data">

	<h2 class="section-heading">Employer name</h2>
    <%= partial 'partials/questions/text-field', :locals => {
        :id => 'employerName'
    }%>

	<h2 class="section-heading">Phone number</h2>
    <%= partial 'partials/questions/text-field', :locals => {
        :id => 'phoneNumber'
    }%>

    <%= partial "partials/questions/address", :locals => {
    	:id         => "employerAddress",
    	:label      => "Address"
    }%>

    <h2 class="form-group-label">Did you start this job before 3 February 2014?</h2>
    <p class="form-hint">This is 1 month before your claim date</p> 

    <%= partial 'partials/questions/yes-no', :locals => { 
    	:id 		=> 'jobStart', 
    	:label      => "Start date",
    	noToggle: '#startDateToggle'
    	} %>
    	
    <div class="js-hidden form-group-indent" id="startDateToggle">
    	<%= partial 'partials/questions/date', :locals => { :id => 'jobStart', :hint => 'For example, 21 01 2014', :label => 'Enter the date you started'} %>
	</div>

    <h2 class="section-heading">Have you finished this job?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'jobFinished', yesToggle: '#yesToggle', noToggle: '#noToggle'} %>


    <div class="js-hidden form-group-indent" id="yesToggle">
    	<%= partial 'partials/questions/date', :locals => { 
    		:id 	=> 'jobFinish', 
    		:hint 	=> 'For example, 21 01 2014', 
    		:label 	=> 'What date did you last work?'
    	} %>

	    <%= partial "partials/questions/text-field", :locals => {
	        :id         => "workHours",
	        :label      => "How many hours a week did you normally work?",
	        :classes    => "form-control-1-8"
	    }%>

	</div>

	<div class="js-hidden form-group-indent" id="noToggle">

	    <%= partial "partials/questions/text-field", :locals => {
	        :id         => "workHours",
	        :label      => "How many hours a week do you normally work?",
	        :classes    => "form-control-dec-3"
	    }%>

	</div>

<div class="form-group">
       <br><br>
    <a class="next button" href="2">Save and continue</a>
</div>

</form>