---
question: 11
title: Employer details
---


<ul class="form-group back-skip">
    <li class="skip"><a href="2">Skip this section for now</a></li>
    <li class="back"><a href="../11">Back</a></li>
    <li><a href="/questions/check-answers">Summary</a></li>
</ul>

<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">

<p>These details are used to contact your employer.</p>

<form class="form" id="form" name="data">

    <%= partial 'partials/questions/text-field', :locals => {
        :id => 'employerName',
        :label => 'Employer Name'
    }%>

    <%= partial 'partials/questions/text-field', :locals => {
        :id => 'phoneNumber',
    	:label => 'Phone number (optional)'
    }%>

    <%= partial 'partials/questions/text-field', :locals => {
        :id => 'employerPayroll',
        :label => 'Payroll or employee number (optional)'
    }%>

    <%= partial "partials/questions/address", :locals => {
    	:id         => "employerAddress",
    	:label      => "Address"
    }%>

    <h2 class="form-group-label">Did you start this job before 3 March 2014?</h2>
    <p class="form-hint">This is your claim date</p> 

    <%= partial 'partials/questions/yes-no', :locals => { 
    	:id => 'jobStart', 
    	noToggle: '#startDateToggle'
    	} %>
    	
    <div class="js-hidden form-group-indent" id="startDateToggle">
    	<%= partial 'partials/questions/date', :locals => { :id => 'jobStart', :hint => 'For example, 21 01 2014', :label => 'Enter the date you started'} %>
	</div>

    <h2 class="section-heading">Have you finished this job?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'jobFinished', yesToggle: '#yesToggle', noToggle: '#noToggle'} %>


    <div class="js-hidden form-group-indent" id="yesToggle">
    	<%= partial 'partials/questions/date', :locals => { :id => 'jobFinish', :hint => 'For example, 21 01 2014', :label => 'Enter the date you finished'} %>

	    <%= partial "partials/questions/text-field", :locals => {
	        :id         => "workHours",
	        :label      => "How many hours a week did you normally work?",
	        :classes    => "form-control-1-8"
	    }%>

	</div>

	<div class="js-hidden form-group-indent" id="noToggle">

	    <%= partial "partials/questions/text-field", :locals => {
	        :id         => "workHours",
	        :label      => "How many hours a week do you normally work?",
	        :classes    => "form-control-dec-3"
	    }%>

	</div>

<div class="form-group">
       <br><br>
    <a class="next button" href="2">Save and continue</a>
</div>

</form>