---
question: 11
title: Employment details
---

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">

    <h2 class="section-heading">Employer details</h2>

    <%= partial 'partials/questions/text-field', :locals => { 
        :id => 'employerName',
        :label => 'Employer name'
    }%>

    <%= partial 'partials/questions/text-field', :locals => { 
        :id => 'employerPhoneNo',
        :label => 'Phone number (optional)'
    }%>

    <%= partial 'partials/questions/text-field', :locals => { 
        :id => 'employerPayroll',
        :label => 'Payroll or employee number (optional)'
    }%>

    
    <h2 class="form-group-label">When did you start this job?</h2>

    <%= partial 'partials/questions/date', :locals => { :id => 'jobStart', :hint => 'For example, 27 June 2013'} %>


    <h2 class="section-heading">Have you finished this job?</h2>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'jobFinished', yesToggle: '#yesToggle', noToggle: '#noToggle'} %>


    <div class="js-hidden form-group" id="yesToggle">
    	<%= partial 'partials/questions/date', :locals => { :id => 'jobFinish'} %>

		<h2 class="section-heading">How many hours a week did you normally work?</h2>

	    <%= partial "partials/questions/text-field", :locals => { 
	        :id         => "workHours",
	        :label      => "Hours worked",
	        :hideLabel  => true,
	        :classes    => "form-control-1-4"
	    }%>

	</div>

	<div class="js-hidden form-group" id="noToggle">

		<h2 class="section-heading">How many hours a week do you normally work?</h2>

	    <%= partial "partials/questions/text-field", :locals => { 
	        :id         => "workHours",
	        :label      => "Hours worked",
	        :hideLabel  => true,
	        :classes    => "form-control-1-4"
	    }%>

	</div>




<div class="form-group">
       <br><br>
    <a class="next button" href="2">Next question</a>
</div>

<ul class="form-group">
    <li><a href="2" >Skip this section for now</a></li>
    <li><a href="../11">Back</a></li>        
</ul>


</form>