---
question: 11
title: Your wages
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">


	<h2 class="form-group-label">How often are you paid?</h2>

	<%= partial 'partials/questions/radios', :locals => {
		:id => 'payFrequency',
		:options => [
			"Weekly",
			"Fortnightly",		
			"Every 4 weeks",
			"Monthly",
			"Other"
		]
	} %>

	<h2 class="form-group-label">When do you get paid?</h2>
	<p class="form-hint" style="margin-top: 0">For example, the day of the month</p>
	<%= partial 'partials/questions/text-field', :locals => { :id => 'payWhen'} %>
	
	<h2 class="form-group-label">When were you last paid?</h2>
	
	<%= partial 'partials/questions/date', :locals => { :id => 'lastPaid', :hint => 'For example, 27 June 2013'} %>


   <h2 class="form-group-label">What were you last paid?</h2>

   <p class="form-hint">This is the gross pay from your last wage slip.</p>

   <input name="payAmount" id="payAmount" class="form-control-dec-3">
   
   <!--<h2 class="form-group-label">What was included in this pay?</h2>
   <p class="form-hint" style="margin-top: 0">For example, holiday pay, sick pay, or any redundancy payments</p>
   <%= partial 'partials/questions/text-field', :locals => { :id => 'payIncluded'} %>-->
  
   
   <h2 class="form-group-label">Do you always get the same amount?</h2>
   
   <%= partial 'partials/questions/yes-no', :locals => { :id => 'payVary'} %>
   

<div class="form-group">
       <br><br>
    <a class="next button" href="3">Save and continue</a>
</div>

</form>