---
question: 11
title: Your expenses
---

<ul class="form-group back-skip">
    <li class="skip"><a href="5">Skip this section for now</a></li>
    <li class="back"><a href="3">Back</a></li>        
</ul>

<%= partial "partials/page-title-employer" %>

<form class="form" id="form" name="data">

<h2 class="form-group-label">Do you have any expenses for this job?</h2>
<p class="form-hint">We may be able to take into account some other expenses, such as expenses you have to pay for your job. For example, tools or protective clothing</p>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'expenses', :yesToggle => '#yesToggle'} %>


<div class="form-group-indent js-hidden" id="yesToggle">

	<%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "expensesDetails",
        :label 		=> "What are these expenses?"
    }%>

</div>


<h2 class="form-group-label">Do you pay anyone to look after your children whilst you're at work?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'childExpenses', :yesToggle => '#yesToggle2'} %>

<div class="form-group-indent js-hidden" id="yesToggle2">

	<%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "childCarer",
        :label 		=> "Name of the person or organisation"
    }%>

    <div class="form-group">   
	   	<label for="how-much" class="form-control-label">How much do you pay them?</label>

	   £ <input name="how-much" id="how-much" class="form-control-dec-3">

		<label for="how-often" class="visuallyhidden">Every</label>
		<select selectwithother="true" name="how-often" id="how-often">
		    <option value="02">a week</option>
		    <option value="03">a fortnight</option>
		    <option value="04">every 4 weeks</option>
		    <option value="05">a month</option>
		    <option value="other">other</option> 
		</select>
	</div>

	<%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "relationship1",
        :label 		=> "How are they related to you?"
    }%>

    <%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "relationship2",
        :label 		=> "How are they related to the person you care for?"
    }%>	
		
</div>


<h2 class="form-group-label">Do you pay anyone to look after the person you care for whilst you're at work?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'carerExpenses', :yesToggle => '#yesToggle3'} %>

<div class="form-group-indent js-hidden" id="yesToggle3">

	<%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "careeCarer",
        :label 		=> "Name of the person or organisation"
    }%>

    <div class="form-group">   
	   	<label for="how-much" class="form-control-label">How much do you pay them?</label>

	   £ <input name="how-much" id="how-much" class="form-control-dec-3">

		<label for="how-often" class="visuallyhidden">Every</label>
		<select selectwithother="true" name="how-often" id="how-often">
		    <option value="02">a week</option>
		    <option value="03">a fortnight</option>
		    <option value="04">every 4 weeks</option>
		    <option value="05">a month</option>
		    <option value="other">other</option> 
		</select>
	</div>

	<%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "relationship1",
        :label 		=> "How are they related to you?"
    }%>

    <%= partial "partials/questions/text-field", :locals => { 
        :id 		=> "relationship2",
        :label 		=> "How are they related to the person you care for?"
    }%>	
		
</div>



<div class="form-group">
       <br><br>
    <a class="next button" href="summary">Continue</a>
</div>

</form>