<span data-from="<%= locals[:id] %>Title"></span>
<span data-from="<%= locals[:id] %>First"></span>
<span data-from="<%= locals[:id] %>Middle"></span>
<span data-from="<%= locals[:id] %>Last"></span>
<span data-from="<%= locals[:id] %>Other"></span>