<span data-from="<%= locals[:id] %>1"></span>
<span data-from="<%= locals[:id] %>2"></span> 
<!--<span data-from="<%= locals[:id] %>3"></span>
<span data-from="<%= locals[:id] %>4"></span>-->
<span>&bull;&bull;</span>
<span>&bull;&bull;</span>
<span data-from="<%= locals[:id] %>5"></span>