<div class="form-group ni-number clear">
	
	<div style="width: 65px; display: inline-block;">
    <input type="text" id="<%= locals[:id] %>1" name="<%= locals[:id] %>1" value="" maxlength="2" autocomplete="off" class="form-control" placeholder="VO">
    </div>
    
    <div style="width: 65px; display: inline-block;">
    <input type="tel" id="<%= locals[:id] %>2" name="<%= locals[:id] %>2" pattern="[0-9 \-]{1,20}" title="Must be numbers only" value="" maxlength="2" autocomplete="off" class="form-control" placeholder="12">
    </div>
    
    <div style="width: 65px; display: inline-block;">
    <input type="tel" id="<%= locals[:id] %>3" name="<%= locals[:id] %>3" pattern="[0-9 \-]{1,20}" title="Must be numbers only" value="" maxlength="2" autocomplete="off" class="form-control" placeholder="34">
   </div>
   
   	<div style="width: 65px; display: inline-block;">
    <input type="tel" id="<%= locals[:id] %>4" name="<%= locals[:id] %>4" pattern="[0-9 \-]{1,20}" title="Must be numbers only" value="" maxlength="2" autocomplete="off" class="form-control" placeholder="56">
	</div>

	<div style="width: 40px; display: inline-block;">
    <input type="text" id="<%= locals[:id] %>5" name="<%= locals[:id] %>5" value="" autocomplete="off" maxlength="1" class="form-control" placeholder="D">
    </div>

</div>
