<div class="form-group-inline form-radio">
	<br>
  <label for="<%= locals[:id] %>Yes" class="block-label">
    <input id="<%= locals[:id] %>Yes" type="radio" name="<%= locals[:id] %>" value="Yes" class="js-toggle" data-show="<%= locals[:yesToggle] %>" data-hide="<%= locals[:noToggle] %>">
    Yes
  </label>
</div>
<div class="form-group-inline form-radio">
	<br>
  <label for="<%= locals[:id] %>No" class="block-label">
    <input id="<%= locals[:id] %>No" type="radio" name="<%= locals[:id] %>" value="No" class="js-toggle"  data-show="<%= locals[:noToggle] %>" data-hide="<%= locals[:yesToggle] %>">
    No
  </label>
</div>